<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title><%= title %></title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Password was: <span class="green"><%= password %></span></p>
    </body>
</html>
